@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Parameter]
    public string FormName { get; set; }

    private void ClickOK()
    {
        StepTracker.NextStep(FormName);
    }
}
<div class="container" style="text-align: center;">
    <div class="alert alert-info " role="alert" style="text-align: initial">
        <h4 class="alert-heading">We care about the privacy and security of your data</h4>        
        <ul>
            <li>Data submitted via forms on this website are <i>only</i> used for registration purposes.</li>
            <li>This form can only be submitted over an encrypted connection to our servers.</li>
            <li>Once your registration has been processed, the data you've submitted is permanently deleted from this registration system.</li>
            <li>This website saves pre-submitted data on your computer, in an encrypted format.</li>
            <li>This public-facing system is not capable of retrieving your data once a form is submitted. Submitted forms must be reviewed by our staff members from a secure environment, which is not accessible from the general Internet. If a bad actor were to break into this website, they would have no access to submitted registration forms.</li>
            <li>We do not share any of your data with third parties without your explicit consent. </li>
        </ul>
    </div>
    <button @onclick="ClickOK" class="btn btn-primary">OK</button>
</div>

