@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    private void OnClick_NextStepButton()
    {
        StepTracker.NextStep(FormName);
    }

    protected void OnClick_PreviousStepButton()
    {
        StepTracker.PreviousStep(FormName);
    }

}
<div class="container" style="text-align: center;">
    <div class="alert alert-danger " role="alert" style="text-align: initial">
        <h1 class="alert-heading">This is a non-functioning form</h1>
        <p><b>DO NOT USE THIS FORM TO REGISTER STUDENTS AT THIS TIME.</b></p>
        <p>This website is a mock-up, demo, proof-of-concept site. While it may appear functional, registration data is not saved or submitted anywhere.</p>
        <p><b>Do not enter real personal details into the forms on this website at this time.</b></p>
        <p>To start demoing the form, click the button below.</p>
    </div>

    <div class="form-group">
        <div class="form-row">
            @if (StepNumber > 0)
            {
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
            }
            <div class="col">
                <button type="button" @onclick="OnClick_NextStepButton" class="btn btn-secondary btn-block">Next Step</button>
            </div>
        </div>
    </div>
</div>

