@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Parameter]
    public string FormName { get; set; }

    [Parameter]
    public int StepNumber { get; set; }

    private void OnClick_NextStepButton()
    {
        StepTracker.NextStep(FormName);
    }

    protected void OnClick_PreviousStepButton()
    {
        StepTracker.PreviousStep(FormName);
    }

}

<div class="container">
    <h2>Students with First Nations heritage</h2>
    <p>This page would ask for first nations information and explain why we collect it.</p>
    <p>This page is not complete yet.</p>
    <br /><br />
    <div class="form-group">
        <div class="form-row">
            @if (StepNumber > 0)
            {
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
            }
            <div class="col">
                <button type="button" @onclick="OnClick_NextStepButton" class="btn btn-secondary btn-block">Next Step</button>
            </div>
        </div>
    </div>
</div>