<div class="jumbotron jumbotron-fluid" style="background-image: url(images/stock-photo.jpg); background-size: 100%; background-position: top;">
    <div class="container p5" style="background-color: rgba(255,255,255,0.8);">
        <div class="align-top row">
            <img src="images/lssd-logo.png" style="width: 5em; height: 5em; margin: 10px;" class="align-middle d-none d-md-block" alt="Living Sky School Division Logo" />
            <div class="align-middle">
                <h1 class="font-weight-bold">Living Sky School Division No. 202</h1>
                <h2>Online Registration and Application</h2>
            </div>
        </div>
    </div>
</div>