@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Parameter]
    public string FormName { get; set; }


    [Parameter]
    public int StepNumber { get; set; }

    private void OnClick_NextStepButton()
    {
        StepTracker.NextStep(FormName);
    }

    protected void OnClick_PreviousStepButton()
    {
        StepTracker.PreviousStep(FormName);
    }

}
    <div class="container" style="text-align: center;">
        <div class="alert alert-danger " role="alert" style="text-align: initial">
            <h2 class="alert-heading">Before you apply</h2>
            <p>Note that this is an <b>application</b> form, not a registration form. Your application will be reviewed, and you will be notified if your child is accepted into our Pre-Kindergarten program.</p>
        </div>

        <div class="form-group">
            <div class="form-row">
                @if (StepNumber > 0)
                {
                    <div class="col">
                        <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                    </div>
                }
                <div class="col">
                    <button type="button" @onclick="OnClick_NextStepButton" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </div>

