@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

#nullable enable
    [Parameter]
    public string? FormName { get; set; }

    [Parameter]
    public int? StepNumber { get; set; }
#nullable disable

    private void OnClick_NextStepButton()
    {
        StepTracker.NextStep(FormName);
    }

    protected void OnClick_PreviousStepButton()
    {
        StepTracker.PreviousStep(FormName);
    }
}
<div class="container" style="text-align: center;">
    <div class="alert alert-danger " role="alert" style="text-align: initial">
        <h1 class="alert-heading">Unknown form component</h1>
        <p>We were supposed to show you a form section here, but something went wrong.</p>
    </div>

    <div class="form-group">
        <div class="form-row">
            @if (StepNumber > 0)
            {
                <div class="col">
                    <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                </div>
            }
            <div class="col">
                <button type="button" @onclick="OnClick_NextStepButton" class="btn btn-primary btn-block">Next Step</button>
            </div>
        </div>
    </div>
</div>

