@namespace LSSD.Registration.CustomerFrontEnd.BlazorComponents
@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

   
    protected void OnClick_ResetProgress()
    {
        StepTracker.ResetAll();
    }
}


<div class="container">
    <hr />
    <div class="row">
        <div class="text-left col">
            <a href="/" @onclick="OnClick_ResetProgress">Back to start</a>
        </div>

        <div class="text-center col">
            <a href="https://www.livingskysd.ca">Living Sky School Division No. 202</a>
        </div>

        <div class="text-right col">
            <a href="/SavedData">Manage saved form data</a>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />