@page "/General"
@using LSSD.Registration.CustomerFrontEnd.Components

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    string FormName = "GENREG";
    private static List<string> workflow = new List<string>()
    {
        "DemoWarning",
        "RequestorSection",
        "SchoolChooser",
        "StudentDemographicsSection",
        "CitizenshipSection",
        "EALSection",
        "ContactsSection",
        "SiblingsSection",
        "BussingInfoSection",
        "FirstNationsSection",
        "ThanksGeneralSection"
    };

    protected override void OnInitialized()
    {
        StepTracker.StepHasChanged += RefreshComponents;
    }

    private void RefreshComponents()
    {
        StateHasChanged();
    }
}
    <div class="container">
        <HeaderComponent />
        <h1>LSSD K-12 Registration Form</h1>
        <hr />
        @if (StepTracker.Step(FormName) >= 0 && StepTracker.Step(FormName) < workflow.Count)
        {
            <ComponentDisplayerComponent ComponentName="@workflow[StepTracker.Step(FormName)]" FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
        }
        <ProgressBarComponent CurrentStep="StepTracker.Step(FormName)" TotalSteps="@(workflow.Count()-1)" />
        <br /><br />
    </div>
<br />
<br />
<br />
<a href="/">Main landing page</a>