@page "/"
@using LSSD.Registration.CustomerFrontEnd.Services;
@using LSSD.Registration.CustomerFrontEnd.BlazorComponents;

@code{
}
<HeaderComponent FullHeight="true" />
<div class="container">
    <br /><br />
    <h3 style="border-bottom: 1px solid #C0C0C0;">K-12 Online Registration</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="images/cap-general-new.png" alt="Card image cap">
                <div class="card-body">
                    <a href="General" class="btn btn-primary btn-block">Register K-12</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <p>
                Living Sky School Division is a public school division. We promise an intellectually welcoming environment that celebrates diversity of ethnicity, culture, thought and vision. We are joined by a central purpose – the sharing and deepening of knowledge and opportunity for the betterment of our communities, Canada and the world.
            </p>
            <p>
                Start here to register for any grade at any Living Sky School Division school. Please call 306-937-7702 if you have any questions.
            </p>
        </div>
    </div>

    <br /><br />
    <h3 style="border-bottom: 1px solid #C0C0C0;">St. Vital Catholic School (Kindergarten to 7)</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="images/cap-stvital.jpeg" alt="Card image cap">
                <div class="card-body">
                    <a href="StVital" class="btn btn-primary btn-block">Register at St. Vital</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <p>St. Vital Catholic School is a <b>Catholic</b> school in a <b>public</b> school division.  This is a unique situation that allows the Living Sky School Division No. 202 to limit admission to St. Vital Catholic School <b>exclusively to children of the Catholic faith</b>.</p>
            <p>Our mission is to provide Catholic education for Catholic children.  Students wishing to attend St. Vital Catholic School must meet the criteria for admission as outlined by the Catholic Advisory Committee and ratified by the Board of Education</p>
            <p>St. Vital Catholic School is located in <b>Battleford</b>, SK.</p>
        </div>
    </div>

    <br /><br />
    <h3 style="border-bottom: 1px solid #C0C0C0;">Pre-Kindergarten Online Application (Select schools only)</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="images/cap-prek.png" alt="Card image cap">
                <div class="card-body">
                    <a href="PreK" class="btn btn-primary btn-block">Apply for Pre-K</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <p>
                Pre-K programs support the overall development of young children and lay the foundation for school success and lifelong learning.
            </p>
            <p>
                Pre-K is intended to be a prevention and early intervention program. Therefore, a priority is given to children who are at risk or most vulnerable. Applications are reviewed by a selection committee who will inform parents of decisions made about entry into the program.
            </p>
        </div>
    </div>


    <br /><br />
    <h3 style="border-bottom: 1px solid #C0C0C0;">kihci - Cree Language and Culture Experience for Kindergarten</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="images/cree.png" alt="Card image cap">
                <div class="card-body">
                    <a href="kihci" class="btn btn-primary btn-block">Apply for kihci</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <p>kihci, is our Cree Language and Culture Experience, designed around indigenized early learning principles. These include learning through play a language rich environment, land-based experiences, and education of the whole child including their intellectual, spiritual, social/emotional, and physical selves.</p>
            <p>The Cree language and Cree culture will be embedded throughout the learning.</p>            
            <p>For the 2022-2023 school year we are only offering this program for kindergarten students in The Battlefords and area. This program may be expanded to other grades in the future.</p>
        </div>
    </div>
    
    <br /><br />
    <h3 style="border-bottom: 1px solid #C0C0C0;">Early Learning Intensive Support Program</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="images/cap-elis.jpg" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary btn-block" href="https://www.livingskysd.ca/documents/9d958a99-6778-4201-b9ff-867095fa8554">Download Form</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <p>
                Living Sky School Division is part of the <a href="https://pubsaskdev.blob.core.windows.net/pubsask-prod/106058/106058-ELIS_Family_Brochure.pdf">Early Learning Intensive Support program</a>, a program for young children who require intensive supports to meet their potential.
            </p>
            <p>
                At this time, there is no digital form for the ELIS program. To apply for the, please fill out the application form​ below. Instructions for how and where to submit the form can be found at the bottom of the form.
            </p>
            <p>
                <ul>
                    <li><a href="https://www.livingskysd.ca/documents/9d958a99-6778-4201-b9ff-867095fa8554">LSSD ELIS Application Form</a></li>
                </ul>
            </p>
        </div>
    </div>

    <br /><br />
    <h3 style="border-bottom: 1px solid #C0C0C0;">SkyPlus Learning</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="images/skyplus.jpg" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary btn-block" href="https://forms.office.com/r/ccfuTqWdNf">Register for SkyPlus</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <p>
                SkyPlus learning offers ultimate choice and flexibility to Living Sky students through blended and place-based learning opportunities. 
            </p>
            <p>
                Choose from three learning pathways:
                <ul>
                    <li>Thematic bundles</li>
                    <li>Build your own learning adventure by taking any three modules</li>
                    <li>Design your own course with an advisor through the brilliance project</li>
                </ul>
            </p>
            <p>
                Meet your education goals, your way. 
            </p>
        </div>
    </div>



</div>
<FooterComponent />
