@page "/"
@using LSSD.Registration.CustomerFrontEnd.Services;
@using LSSD.Registration.CustomerFrontEnd.Components

@code{

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    private async Task ClearLocalStorage()
    {
        await BrowserStorage.Clear();
    }
}

    <div class="container">
        <HeaderComponent />

        <p>
            Nulla eu condimentum odio. Nulla a nibh lobortis, semper leo in, placerat urna. Suspendisse ullamcorper sit amet nulla sed egestas. Phasellus feugiat imperdiet nisi eu posuere. Sed porttitor faucibus sem non feugiat. Sed eget nisl interdum, vulputate nisl eu, finibus neque. Sed tempor nisl ultricies, venenatis massa ac, efficitur nunc. Vivamus sit amet pretium tellus. Mauris magna nisi, tempus sit amet arcu non, sollicitudin hendrerit quam.
        </p>
        <br /><br />
        <div class="row">
            <div class="col-sm">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/cap-prek.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pre-Kindergarten</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="PreK" class="btn btn-primary">Apply for Pre-K</a>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-sm">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/cap-general-new.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">K-12 New Students</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="General" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
            <br />

            <div class="col-sm">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/cap-general-returning.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">K-12 Returning Students</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary disabled">Register</a>
                    </div>
                </div>
            </div>
            <br />

        </div>
    </div>