@page "/"
@using LSSD.Registration.CustomerFrontEnd.Services;
@using LSSD.Registration.CustomerFrontEnd.Components

@code{

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    private async Task ClearLocalStorage()
    {
        await BrowserStorage.Clear();
    }
}
    <HeaderComponent FullHeight="true" />
    <div class="container">
        <br /><br />
        <h3 style="border-bottom: 1px solid #C0C0C0;">Pre-Kindergarten Online Application</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/cap-prek.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="PreK" class="btn btn-primary btn-block">Apply for Pre-K</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <p>
                    PreK programs support the overall development of young children and lay the foundation for school success and lifelong learning.
                </p>
                <p>
                    PreK is intended to be a prevention and early intervention program. Therefore, a priority is given to children who are at risk or most vulnerable. Applications are reviewed by a selection committee who will inform parents of decisions made about entry into the program.
                </p>
            </div>
        </div>
        <br /><br />
        <h3 style="border-bottom: 1px solid #C0C0C0;">K-12 Online Registration</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/cap-general-new.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="General" class="btn btn-primary btn-block">Register K-12</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <p>
                    Start here to register for any grade at any Living Sky School Division school.
                </p>
            </div>
        </div>
    </div>
<FooterComponent />