@page "/"
<h1>This website is a work in progress, and is not ready for public use.</h1>
<ul>
    <li>Do not use this website to register students for school, at this time</li>
    <li>Do not enter real personal data into this website at this time</li>
    <li>You are seeing this website before any UI or QA passes have been done. It may look rough, unfinished, and may include placeholder text. This will all be addressed prior to public release.</li>
</ul>
    <ul>
        <li><a href="PreK">Pre-Kindergarten Application workflow</a></li>
        <li><a href="General">K-12 Registration workflow</a></li>
    </ul>