@page "/"
@using LSSD.Registration.CustomerFrontEnd.Services;
@using LSSD.Registration.CustomerFrontEnd.Components

@code{

    [Inject]
    public BrowserStorageService BrowserStorage { get; set; }

    private async Task ClearLocalStorage()
    {
        await BrowserStorage.Clear();
    }
}
    <HeaderComponent FullHeight="true" />
    <div class="container">
        <br /><br />
        <h3 style="border-bottom: 1px solid #C0C0C0;">Pre-Kindergarten Online Application</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/cap-prek.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="PreK" class="btn btn-primary btn-block">Apply for Pre-K</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <p>
                    Pre-Kindergarten programs are designed to meet the needs of a targeted group of children. Not all children will be accepted into our Pre-Kindergarten programs. Students applying for Pre-Kindergarten need to meet one or more of the following criteria:
                </p>
                <ul>
                    <li>Family has low‐economic status</li>
                    <li>Mother has less than high school education</li>
                    <li>Home language is not English </li>
                    <li>Child is experiencing difficulties in speech or language</li>
                    <li>Child is experiencing social or behaviour difficulties</li>
                </ul>
            </div>
        </div>
        <br /><br />
        <h3 style="border-bottom: 1px solid #C0C0C0;">K-12 Online Registration</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="images/cap-general-new.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="General" class="btn btn-primary btn-block">Register K-12</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <p>
                    Start here to register for any grade at any Living Sky School Division school.
                </p>
            </div>
        </div>
    </div>
<FooterComponent />