@page "/kihci"
@using LSSD.Registration.CustomerFrontEnd.BlazorComponents;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    string FormName = "KIHCI";
    private static List<string> workflow = new List<string>()
    {
        "CreeProgramInfoSection",
        "RequestorSection",
        "StudentDemographicsSection",
        "CitizenshipSection",
        "EnrolmentSection",
        "EALSection",
        "ContactsSection",
        "SiblingsSection",
        "BussingFallbackPage",
        "FirstNationsSection",
        "StudentConsentSection",
        "SubmitCreeSection"
    };

    protected override void OnInitialized()
    {
        StepTracker.StepHasChanged += RefreshComponents;
    }

    private void RefreshComponents()
    {
        StateHasChanged();
    }
}
<HeaderComponent />
<div class="container">
    <h1>kihci - Cree Language and Culture Experience</h1>
    <ProgressBarComponent CurrentStep="StepTracker.Step(FormName)" TotalSteps="@workflow.Count()" />
    <br />
    @if (StepTracker.Step(FormName) >= 0 && StepTracker.Step(FormName) < workflow.Count)
    {
        <ComponentDisplayerComponent ComponentName="@workflow[StepTracker.Step(FormName)]" FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
    }
</div>
<FooterComponent />