@page "/PreK"
@using LSSD.Registration.Model
@using LSSD.Registration.Model.Forms

<h3>Pre Kindergarten Application</h3>

@*<EditForm Model=@preKForm>
    <InputText type="text" @bind-Value="preKForm.Applicant.FirstName" class="form-control" />
    <input type="submit" value="submit" class="btn btn-primary" />
</EditForm>

@code {

}*@