@page "/PreK"
@using LSSD.Registration.Model
@using LSSD.Registration.Model.Forms
@using LSSD.Registration.CustomerFrontEnd.Components
@using System.Linq;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    string FormName = "PREK";

    private static List<string> workflow = new List<string>()
    {
        "PreKWarningSection",
        "RequestorSection",
        "PreKSchoolChooser",
        "PreKStudentDemographicSection",
        "SiblingsSection",
        "PreKInfoSection",
        "PreKBussingSection",
        "PreKFinishSection"
    };

    protected override void OnInitialized()
    {
        StepTracker.StepHasChanged += RefreshComponents;
    }

    private void RefreshComponents()
    {
        StateHasChanged();
    }
}
<HeaderComponent />
<div class="container">
    <h1>Pre-Kindergarten Application</h1>
    <ProgressBarComponent CurrentStep="StepTracker.Step(FormName)" TotalSteps="@workflow.Count()" />
    <br/>
    @if (StepTracker.Step(FormName) >= 0 && StepTracker.Step(FormName) < workflow.Count)
    {
        <ComponentDisplayerComponent ComponentName="@workflow[StepTracker.Step(FormName)]" FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
    }
    <hr />
    <a href="/" class="small">Back to start</a>
</div>