@page "/PreK"
@using LSSD.Registration.Model
@using LSSD.Registration.Model.Forms
@using LSSD.Registration.CustomerFrontEnd.Components
@using System.Linq;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    string FormName = "PREK";

    private static List<string> workflow = new List<string>()
    {
        "DemoWarning",
        "PreKWarningSection",
        "RequestorSection",
        "SchoolChooser",
        "StudentDemographicsSection",
        "CitizenshipSection",
        "ContactsSection",
        "SiblingsSection",
        "PreKInfoSection",
        "PreKBussingSection",
        "EALSection",
        "FirstNationsSection",
        "ThanksPreK"
    };

    protected override void OnInitialized()
    {
        StepTracker.StepHasChanged += RefreshComponents;
    }

    private void RefreshComponents()
    {
        StateHasChanged();
    }
}
<div class="container">
    <HeaderComponent />
    <h1>Pre-Kindergarten Application</h1>
    <ProgressBarComponent CurrentStep="StepTracker.Step(FormName)" TotalSteps="@(workflow.Count()-1)" />
    <hr />
    @if (StepTracker.Step(FormName) >= 0 && StepTracker.Step(FormName) < workflow.Count)
    {
        <ComponentDisplayerComponent ComponentName="@workflow[StepTracker.Step(FormName)]" FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
    }
    <br /><br />
</div>
<br />
<br />
<br />
<a href="/">Main landing page</a>