@page "/Test"
@using LSSD.Registration.Model
@using LSSD.Registration.Model.Forms
@using LSSD.Registration.CustomerFrontEnd.Components
@using System.Linq;

@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    string FormName = "PREK";

    private static List<string> workflow = new List<string>()
    {
        "StudentDemographicsSection",
        "ThanksGeneralSection"
    };

    protected override void OnInitialized()
    {
        StepTracker.StepHasChanged += RefreshComponents;
    }

    private void RefreshComponents()
    {
        StateHasChanged();
    }
}
<HeaderComponent />
<div class="container">
    <h2>Test Workflow</h2>
    <hr />
    @if (StepTracker.Step(FormName) >= 0 && StepTracker.Step(FormName) < workflow.Count)
    {
        <ComponentDisplayerComponent ComponentName="@workflow[StepTracker.Step(FormName)]" FormName="@FormName" StepNumber="StepTracker.Step(FormName)" />
    }
    <ProgressBarComponent CurrentStep="StepTracker.Step(FormName)" TotalSteps="@workflow.Count()" />
    <br /><br />
    <a href="/" class="small">Back to start</a>
</div>