@namespace LSSD.Registration.CustomerFrontEnd.BlazorComponents.FormSections
@code {
    [Inject]
    LSSD.Registration.CustomerFrontEnd.Services.FormStepTrackerService StepTracker { get; set; }

    [Parameter]
    public string FormName { get; set; }


    [Parameter]
    public int StepNumber { get; set; }

    private void OnClick_NextStepButton()
    {
        StepTracker.NextStep(FormName);
    }

    protected void OnClick_PreviousStepButton()
    {
        StepTracker.PreviousStep(FormName);
    }

}
<div class="container" style="text-align: center;">    
    <div style="text-align: initial;">
        <h2>Before you apply</h2>
        <p>Please read this page thoroughly before continuing to the next step.</p>
        <br/>

        <h4>⚠️ This is an application not a registration</h4>
        <p>Our Pre-Kindergarten program space is limited, and applications must be reviewed and approved by school division staff before your child is fully registered. </p>
        <p><span style="background-color: #FFFF00;">We will contact you if your child is accepted into the Pre-K program.</span>
        @{
            if (DateTime.Today < (new DateTime(2023,9,15))) {
                <span> You will be notified if your child is accepted on or before <b>September 15th, 2023</b>.</span>
            }
        }
        </p>

        <br/>
        <br/>

        <h4>⚠️ Pre-K at St. Vital is available to non-Catholic students</h4>
        <p>The Pre-Kindergarten program offered at St. Vital is open to all students, regardless of student or family faith.</p>

        <br/>
        <br/>

        <h4>⚠️ Pre-Kindergarten in Spiritwood, SK</h4>
        <p>The Pre-K program available in Spiritwood is a joint program between Living Sky School Division and Light of Christ Catholic Schools. To apply in Spiritwood, please use the registration for Light of Christ Catholic Schools: <a href="https://www.loccsd.ca/reglanding">https://www.loccsd.ca/reglanding</a></p>
        
        <br/>
        <br/>
        
        <div class="form-group">
            <div class="form-row">
                @if (StepNumber > 0)
                {
                    <div class="col">
                        <button type="button" @onclick="OnClick_PreviousStepButton" class="btn btn-secondary btn-block">Previous Step</button>
                    </div>
                }
                <div class="col">
                    <button type="button" @onclick="OnClick_NextStepButton" class="btn btn-primary btn-block">Next Step</button>
                </div>
            </div>
        </div>
    </div>
</div>

