@page "/schools"
@using LSSD.Registration.Model;
@using LSSD.Registration.Model.SubmittedForms;
@using LSSD.Registration.Data;
@code {
    [Inject]
    IRegistrationRepository<School> _SchoolRepo {get;set;}
}

<h1>Schools</h1>

<a href="/schools/new">New School</a>
<br/><br/>
<table class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>DAN</th>
        <th>Email</th>
        <th>Grades</th>
    </tr>
</thead>

@foreach(School school in _SchoolRepo.GetAll().OrderBy(x => x.Name)) 
{
    <tr>
        <td><a href="schools/@(school.Id)">@school.Name</a></td>
        <td>@school.DAN</td>
        <td>@school.EmailAddress</td>
        <td>@school.GetGradesOfferedShort()</td>
    </tr>
}

</table>